<div class="row padding--top">
  <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <h2 class="text-lead<%= '--white' if defined? color %> text--left">Social and contact Icons</h2>

    <%#= svg_icon('anim__mobile-menu', path: 'app' + asset_path('iconanim.svg')) %>
    <%= svg_icon('anim__mobile-menu', path: 'app/assets/images/iconanim.svg') %>
    <%= svg_icon('social__facebook', path: 'app/assets/images/iconset.svg') %>
    <%= svg_icon('social__linkedin') %>
    <%= svg_icon('social__twitter') %>
    <%= svg_icon('social__phone') %>
    <%= svg_icon('social__email') %>
    <%= svg_icon('social__chat') %>

    <%= svg_icon('missing this one') %>
    <%= svg_icon('social__chat', class: 'icon--app') %>
    <%= svg_icon('social__linkedin', role: 'presentation') %>
    <%= svg_icon('social__facebook', aria: false) %>
  </div>
</div>
<div class="row padding--top">
  <div class="col-xs-12">
    <%= each_svg_icon %>
  </div>
</div>
