<%= link_to 'Brand Database', '#', class: 'nav-logo' %>

<div class="nav-container">
  <%= link_to 'Name of thing', '#', class: 'nav-link' %>
  <%= link_to 'Logo', '#', class: 'nav-link' %>
  <%= link_to 'Typography', '#', class: 'nav-link' %>
</div>

<div class="nav-mobile-links">
  <%= link_to 'Down', '#', class: 'nav-link' %>
  <%= link_to 'Contact', '#', class: 'nav-link' %>
</div>
